<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div class="container">
    <div class="items">
      <div class="project-name">
        <p>LIVE SCORES</p>
      </div>
    </div>
    <div class="items">
      <div class="project-name">
        <p>LEAUGES</p>
      </div>
    </div>
    <div class="items">
      <div class="project-name">
        <p>PLAYER STATS</p>
      </div>
    </div>  
  </div>
</main>

<%- include('./partials/footer') %>
