form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  margin-bottom: 20px;
  background-color: #FF7700;
  padding: 20px;
  border: 2px solid white;
  margin-top: 20px;
  color: #000000;
  height: 500px;
  width: 360%;
  margin-left: -300px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  font-size: 16px;
  width: 160px;
  grid-column: 2 / 3;
  margin-bottom: 24px;
  cursor: pointer;
}

form > button:hover {
  color: #FF7700;
  background-color: greenyellow;
}

h1 {
  color: #000000;
  background-color: #FF7700;
  height: 70px;
  padding: 20px;
  border-bottom: 5px solid black;
}

.edit-form {
  width: 600%;
  margin-left: -320px;
}