html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  /* background-color: #1a1a1a; */
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  background-image: url(https://i.imgur.com/D3vepUw.jpg);
  background-size: cover;
}

nav {
  background-color: #bacdb0;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  min-height: 60px;
  border: 2px solid white;
}

nav > a {
  margin: 1px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  background-color: #424748;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.container {
  width: 800px;
  height: 250px;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  box-sizing: border-box; 
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-template-rows: 1fr;
  grid-gap: 15px;
}

.items {
  border-radius: 5px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
  cursor: pointer;
  border: 3px dotted black;
  transition: all 0.6s;
  background-color: red;
}


.icon-wrapper, .project-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper i {
  font-size: 100px;
  color: white;
  transform: translateY(0px);
  transition: all 0.6s;
}

.icon-wrapper {
  align-self: end;  
}

.project-name {
  align-self: start;
}
.project-name p {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #E5E6F1;  
  transform: translateY(0px);
  transition: all 0.5s;
}

.items:hover {
  border: 3px solid #E5E6F1;
  & .project-name p {
    transform: translateY(-10px);
  }
  & .icon-wrapper i {
    transform: translateY(5px);
  }
}

