html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  /* background-color: #1a1a1a; */
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  background-image: url(https://i.imgur.com/D3vepUw.jpg);
  background-size: cover;
}

nav {
  background-color: #4f772d;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  min-height: 60px;
  border: 2px solid white;
}

nav > a {
  margin: 1px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  background-color: #424748;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}
