section.post-container {
  display: flex;
  flex-direction: column;
  /* background-color: #4f772d; */
  /* background-color: #38b000; */
  background-color: #FF7700;
  margin: auto;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
  width: 40%;
  border: 5px solid white;
  justify-content: space-evenly;
  color: black;
  border-radius: 20px;
}

post:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Slightly lift on hover */
  transition: box-shadow 0.3s ease-in-out;
}

.post {
  display: flex;
  flex-direction: column;
  /* background-color: #ecf39e; */
  background: linear-gradient(to bottom right , #FFBC42, #CCFF33);
  color: black;
  font-weight: bold;
  width: 90%;
  height: max-content;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid #4B4A67;
  text-align: center;
  margin-right: 35px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  margin-bottom: 40px;
}

.post:hover {
  background: white;
}

.post-buttons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  flex-direction: row;
  padding: 0;
  justify-content: flex-start;
  /* background-color: #999; */
  /* background-color: #BD897E; */
}

a {
  width:90px;
}

#replies-btn {
  width: fit-content;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  margin-right: -50px;
  margin-left: 10px;
  cursor: pointer;
}

#edit-btn {
  border: none;
  background: none;
  margin-right: -50px;
  cursor: pointer;
}

#delete-btn {
  border: none;
  background: none;
  cursor: pointer;
}


.post p {
  flex-grow: 1;
  display: flex;
  font-size: 14px;
  line-height: 1.6;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
}

.post a {
  color: #007bff; 
  text-decoration: underline;
}

.post div {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  align-self: first baseline;
}

.post div img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 1px;
  border-radius: 10px;
  align-items: first baseline;
}

ul {
  list-style: none;
}

#textbox {
  width: 300px;
  height: 100px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
  border: 2px solid black;
  resize: both;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#textbox:hover {
  border-color: #999;
  background-color: #f5f5f5;
}

section.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

.author {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-button {
  width: 50px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.container-header {
  align-self: flex-start;
  border-bottom: 2px solid black;
  width: 100%;
  font-family: 'Onest', sans-serif;
}

.time {
  margin-left: 60px;
  margin-top: 0px;
}

.header {
  margin-top: -5px;
}