@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

main {
  font-family: 'Calibri', sans-serif;
}

.post {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right , #FFBC42, #CCFF33);
  color: black;
  font-weight: bold;
  width: 50%;
  height: 200px;
  margin-left: 190px;
  border-radius: 5px;
  border: 2px solid whitesmoke;
  margin-right: 35px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  align-items: center;
}

.post p {
  flex-grow: 1;
  display: flex;
  font-size: 14px;
  line-height: 1.6;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.post h3 img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 1px;
  border-radius: 50%;
  align-items: first baseline;
}

.card-no-border .card {
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.55)
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem
}

.comment-widgets .comment-row:hover {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.comment-widgets .comment-row {
  border-bottom: 2px solid rgba(17, 18, 20, 0.13);
  padding: 15px;
}
.comment-text:hover{
  visibility: hidden;
}
.comment-text:hover{
  visibility: visible;
}

.label {
  padding: 3px 10px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 75%;
}

.round img {
  border-radius: 100%;
}

.label-info {
  background-color: #1976d2;
}

.label-success {
  background-color: green;
}

.label-danger {
  background-color: #ef5350;
}

.action-icons a {
  padding-left: 7px;
  vertical-align: middle;
  color: #99abb4;
}

.action-icons a:hover {
  color: #1976d2;
}

.mt-100 {
  margin-top: 100px
}

.mb-100 {
  margin-bottom: 100px
}

.card {
  background-color: #FF7700;
  color: black;
  padding: 20px;
  border-radius: 10px;
}
ul {
  list-style: none;
}

.reply-form {
  margin-left: 260px;
  margin-top: 20px;
  width: 300px;
}

textarea {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
} 

.reply-buttons {
  display: inline;
}

.reply-container {
  background-color: white;
  margin-top: 20px;
}